:root {
    
    --main-clr:rgb(172, 172, 172);
    --secondary-clr:#1f2937;
    --accent--clr: #3882F6;
    --section--clr: rgb(133, 117, 99);

    --light: light 300;
    --light-italic: light 300 italic;
    --medium: 500;
    --extra-bold: 900;

    --main-fs: 1.6rem;
    --secondary-fs: 1.8rem;
    --large-fs: 3rem;

    --primary-padding: 2rem;
    --cards-padding: 1.5rem 1.5rem 2rem 1.5rem;
    --section-padding: 4rem 7rem;
    --main-padding: 6rem 7rem 2rem 7rem;
    
    box-sizing: border-box;
    font-size: 62.5%;

}

* {
    margin:0;
    padding:0;
}

*,
*::before
*::after {
    box-sizing: inherit;
}

body {
font-family: roboto
}

img, video {
    width: 25em;
}

a {
    text-decoration: none;
    color: var(--main-clr);
}

.logo-span {
    color: var(--section--clr);
}

.logo {
    font-size: var(--large-fs);
    font-weight: var(--extra-bold);
}

body {
    background-color: var(--main-clr);
}

/*          nav/header         */

header {
    
    background-color: var(--secondary-clr);
    color: var(--main-clr);
    padding: var(--section-padding);
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

nav {

    font-weight: var(--medium);
    font-size: var(--secondary-fs);

    display: flex;
    justify-content: space-between;
    gap: 3em;
}

nav a:hover{
    color: var(--section--clr);
    border-bottom: var(--section--clr) solid 2px ;
    margin-top: -2px;
}

.nav-active {
    color: var(--section--clr);
    border-bottom: var(--section--clr) solid 2px ;
}


/*        Main         */

main {
    background-color: var(--secondary-clr);
    color: var(--section--clr);
    padding: var(--section-padding);
    font-size: var(--main-fs);

    display: flex;
    flex: 1;
}

.main {
    flex: 1 1 0;
}

.main-left {
    box-sizing: border-box;
    padding-right: 2em;
    color: var(--section--clr);
    border: 2px solid rgba(133, 117, 99, 0.5);
    border-right: none;
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items:self-end;
}

.main-left p {
    width: 80%;
    text-align: right;
}

.main-right video {
    width: 100%;
    height: 100%;
    justify-content: center;
}

.img-blend {
    outline: var(--secondary-clr) double 10px;
    position: relative;
    height: 80%;
    bottom: 90%;
    width: 80%;
    left: 10%;

}

/*         sections         */

.section {
    padding: var(--section-padding);

}

.builds-sect {
    background-color: var(--main-clr);
    font-size: var(--secondary-fs);
    width: 80%;
    margin: 0 auto;
}

.builds-sect h3 {
    padding-bottom: var(--primary-padding);
    font-size: var(--secondary-fs);
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
    align-items: center;
    background-color: var(--main-clr);
}



.card {
    inline-size: min-content;
    padding: var(--cards-padding);
    background-color: var(--secondary-clr);
    border-radius: 10px;
    color: var(--main-clr);
}

.paragraph-section {
    background-color: var(--section--clr);
    color: var(--secondary-clr);
}

.cta-section {
    display: flex;
    justify-content: space-between;
}
