:root {
    
    --main-clr:rgb(172, 172, 172);
    --secondary-clr:#1f2937;
    --accent--clr: #3882F6;
    --section--clr: rgb(133, 117, 99);

    --light-300: light 300;
    --light-300-italic: light 300 italic;
    --extra-bold-900: 900;

    --main-fs: 36px;
    --secondary-fs: 24px;
    --small-fs: 18px;
    --heading-fs: 48px;

    --primary-padding: 2em;
    --secondary-padding: 1em 1em 2em 1em;
    --section-padding: 2em 7em;
    --main-padding: 6em 2em 2em 7em;
    
    box-sizing: border-box;

}

* {
    margin:0;
    padding:0;
}


*,
*::before
*::after {
    box-sizing: inherit;
}

body {
font-family: roboto
}

img, video {
    width: 25em;
}

a {
    text-decoration: none;
    color: var(--main-clr);
}


/*          nav/header         */

.nav {
    background-color: var(--secondary-clr);
    color: var(--main-clr);
    display: flex;
    justify-content: space-between;
    padding: var(--section-padding);
    padding-top: 2em;
    align-items: center;
    
}

nav {
    display: flex;
    justify-content: space-between;
    gap: 3em;
}

header {
    background-color: var(--secondary-clr);
    color: var(--section--clr);
}

/*        Main         */

main {
    background-color: var(--secondary-clr);
    color: var(--section--clr);
    padding: var(--main-padding);

    display: flex;
    flex: 1;
}

.main {
    flex: 1 1 0;
}

.main-left {
    box-sizing: content-box;
    padding-right: 2em;
    color: rgb(133, 117, 99);
    border: 7px double rgba(133, 117, 99, 0.5);
    border-right: none;
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items:self-end;
}

.main-left p {
    width: 80%;
    text-align: right;
}

.main-right video {
    width: 100%;
}

.img-blend {
    outline: var(--secondary-clr) double 10px;
    position: relative;
    height: 80%;
    bottom: 90%;
    width: 80%;
    left: 10%;

}

/*         sections         */

.section {
    padding: var(--section-padding);

}

.section h3 {
    padding: var(--primary-padding);
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1em;
    background-color: var(--main-clr);
}

.card {
    inline-size: min-content;
    padding: var(--secondary-padding);
    background-color: var(--secondary-clr);
    border-radius: 10px;
    color: var(--main-clr);
}

.builds-sect {
    background-color: var(--main-clr);
}

.paragraph-section {
    background-color: var(--section--clr);
    color: var(--secondary-clr);
}

.cta-section {
    display: flex;
    justify-content: space-between;
}
